* {
    font-family: sans-serif Verdana;
}
body {
    background-color: #171717;
}
.section-one {
    width: 80vw;
    margin: 0 auto;
}
/*-----HEADER-START-----*/
.header {
    display: flex;
    margin: 0 auto;
    width: 80vw;
    background-color: #171717;
    justify-content: space-between;
    height: min-content;
    align-items: center;
}
.header-logo {
    background-color: #171717;
}

.header-divider {
    flex-grow: 1;
    height: inherit;
    background-color: #171717;
}

span {
    color: #cfb178;
    text-align: center;
    display: flex;
    align-items: center;
}

.header-phone-number {
    display: flex;
    align-items: center;
    font-size: 24px;
    text-align: center;
    margin-right: 5px;
    color: #fff;
    background-color: #171717;
}
.header-callback-button {
    background-color: #171717;
    padding-left: 20px;
}

.wrapper-header {
    width: 80vw;
    margin: 0 auto;
}

.first-name {
    color: white;
    font-size: 32px;
    padding-bottom: 20px;
}
.paragraph-one {
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}
/*-----HEADER-END-----*/

/*-----MAIN-MENU-START-----*/
.main-menu-one {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    grid-template-rows: minmax(150px, 400px);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    height: 400px;
    width: 80vw;
    margin-bottom: 25px;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 1;
    font-weight: bold;
}
.main-menu-two {
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    grid-template-rows:minmax(400px, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    height: 400px;
    width: 80vw;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 1;
    font-weight: bold;
    margin-bottom: 30px;
}
.earth-work {
    background-color: #5f4f2e;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 7px;
}
.underground-pipes {
    background-color: #b0a385;
    display: flex;
    align-items: center;
    justify-content: center;
}
.channels {
    background-color: #dcb767;
    display: flex;
    align-items: center;
    justify-content: center;
}
.unmovable {
    background-color: #615a4a;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wells {
    background-color: #aa8e4f;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*-----MAIN-MENU-END-----*/

/*-----SECOND-MENU-START-----*/

.header-second-menu {
    font-size: 32px;
    color: white;
    margin-bottom: 50px;
}

.second-menu {
    display: grid;
    height: 70vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 15px;
    grid-column-gap: 25px;
    margin-bottom: 100px;
}

.second-menu-item-1 {
    background-color: #000;
    height: 30vh
}
.second-menu-item-2 {
    background-color: #242424;
    height: 35vh;
}
.second-menu-item-3 {
    background-color: #1f1f1f;
    height: calc((70vh / 3) - 10px);
}
.second-menu-item-4 {
    background-color: #1f1f1f;
    grid-row: 2 / span 2;
    height: calc(40vh + 8px);
    margin-top: -4vh;
}
.second-menu-item-5 {
    background-color: #dcb767;
    grid-row: 2 / span 2;
    height: 33vh;
    margin-top: 1vh;
}
.second-menu-item-6 {
    background-color: #000;
    height: calc((70vh / 3) + 10px);
    margin-top: -12vh;
}
.second-menu-item-7 {
    background-color: #000;
    height: calc((70vh / 3) - 10px);
    margin-top: -5vh;
}

.second-menu-box-one {
    color: white;
    font-size: 20px;
    padding-top: 30px;
    padding-left: 30px;
}
.second-menu-box-one-paragraph {
    text-transform: uppercase;
    font-weight: bold;
}
.second-menu-box-two {
    color: white;
    font-size: 20px;
    padding-top: 30px;
    padding-left: 30px;
}
.second-menu-box-two-paragraph {
    text-transform: uppercase;
    font-weight: bold;
}
.second-menu-box-three {
    color: white;
    font-size: 20px;
    padding-top: 30px;
    padding-left: 30px;
}
.second-menu-box-four {
    color: white;
    font-size: 20px;
    padding-top: 30px;
    padding-left: 30px;
}
.second-menu-box-five {
    color: #000;
    font-size: 20px;
    padding-top: 30px;
    padding-left: 30px;
}
.second-menu-box-six {
    color: white;
    font-size: 20px;
    padding-top: 30px;
    padding-left: 30px;
}
.second-menu-box-seven {
    color: white;
    font-size: 20px;
    padding-top: 30px;
    padding-left: 30px;
    font-weight: bold;
}
/*-----SECOND-MENU-END-----*/

/*-----THIRD-MENU-START-----*/
.section-two {
    background-color: black;
    padding-top: 70px;
}
.third-menu-top {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    width: 80vw;
    margin: 0 auto;
    padding-bottom: 50px;
}
.header-third-menu {
    font-size: 32px;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
}
.all-projects-button {
    display: flex;
    align-items: center;
}
.third-menu-items-main {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 80vh;
    width: 80vw;
}
.third-menu-item-one {
    background-color: #5f4f2e;
    display: flex;
    align-items: center;
    justify-content: center;
}
.third-menu-item-two {
    background-color: #afa385;
    display: flex;
    align-items: center;
    justify-content: center;
}
.third-menu-item-three {
    background-color: #dcb767;
    display: flex;
    align-items: center;
    justify-content: center;
}
.third-menu-item-four {
    background-color: #615a4a;
    display: flex;
    align-items: center;
    justify-content: center;
}
.third-menu-item-five {
    background-color: #aa8e4f;
    display: flex;
    align-items: center;
    justify-content: center;
}
.third-menu-item-six {
    background-color: #5f4f2e;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*-----THIRD-MENU-END-----*/

/*-----FOOTER-START-----*/
footer {
    height: 20vh;
    width: 100vw;
}
/*-----FOOTER-END-----*/